<div id="footer">
  <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="footerContent">
                    <p>&copy;Copyright 2016 - Franck Falcou - Jérémy Petit - All rights reserved.</p><br>
                    <p>3iL Rodez - Promotion 13</p>
                </div>
            </div>
        </div>
    </div>
</div>